@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin badgeColor($color) {
  border: 1px solid $color;
  color: $color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

.link {
  text-decoration: none;
}

footer a:hover {
  color: #000;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail img {
  filter: saturate(0.3);
  transition: all 0.5s;
}

.thumbnail img:hover {
  filter: saturate(1);
}

.myModal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.myModal {
  opacity: 0;
  transform: scale(0.5);
  z-index: 100;
  transition: all 0.4s;
}

.myModal.show {
  opacity: 1;
  transform: scale(1);
}

.profile-info h2 {
  font-size: 14px;
  font-weight: bold;
}

.profile-info p {
  font-size: 12px;
  color: #5a5a5a;
}

.profile-img {
  max-width: 500px;
}

.profile-img img {
  position: relative;
  filter: grayscale(100%);
}

.badge {
  font-size: 8px;
}

.btn-view {
  background-color: #0466c8;
  border: none;
}

.btn-view:hover {
  background-color: #0353a4;
}

.tech-container {
  display: flex;
  margin: 12px 0px;
  flex-wrap: wrap;
}

.tech-container img {
  padding: 4px 4px 4px 0px;
}

.tech-title {
  font-size: 14px;
  font-weight: bold;
}

/* Badge Color */
.HTML {
  @include badgeColor((#e87d27));
}
.CSS {
  @include badgeColor(#3194c9);
}

.SASS {
  @include badgeColor(#c46192);
}

.REACT {
  @include badgeColor(#5cd0ef);
}
.MONGODB {
  @include badgeColor(#4ca33e);
}
.EXPRESS {
  @include badgeColor(#000);
}

.NODEJS {
  @include badgeColor(#c9a227);
}
.GODOT {
  @include badgeColor(#560bad);
}

.FIREBASE {
  @include badgeColor(#e04031);
}

.API {
  @include badgeColor(#7f5539);
}
