@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin badgeColor($color) {
  border: 1px solid $color;
  color: $color;
}

.thumbnail {
  filter: saturate(0.3);
  transition: all 0.5s;
}

.thumbnail:hover {
  filter: saturate(1);
}

.profile-img {
  filter: grayscale(100%) brightness(120%);
}

.swiper-button-prev,
.swiper-button-next {
  color: #d3d3d3 !important;
}

.swiper-pagination-bullet {
  background-color: #d3d3d3 !important;
}

.badge-sm {
  font-size: 0.5rem !important;
}

/* Badge Color */
.HTML {
  @include badgeColor((#e87d27));
}
.CSS {
  @include badgeColor(#006d77);
}
.SASS {
  @include badgeColor(#c46192);
}
.REACT {
  @include badgeColor(#0077b6);
}
.MONGODB {
  @include badgeColor(#4ca33e);
}
.EXPRESS {
  @include badgeColor(#000);
}
.NODEJS {
  @include badgeColor(#c9a227);
}
.GODOT {
  @include badgeColor(#6c757d);
}
.REDUX {
  @include badgeColor(#560bad);
}
.FIREBASE {
  @include badgeColor(#e04031);
}
.API {
  @include badgeColor(#7f5539);
}
