@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
  filter: saturate(0.3);
  transition: all 0.5s;
}

.thumbnail:hover {
  filter: saturate(1);
}

.swiper-button-prev,
.swiper-button-next {
  color: #d3d3d3 !important;
}

.swiper-pagination-bullet {
  background-color: #d3d3d3 !important;
}
