@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-img {
  max-width: 600px;
}

.profile-img img {
  position: relative;
  filter: grayscale(100%) brightness(120%);
}

.swiper-button-prev,
.swiper-button-next {
  color: #d3d3d3 !important;
}

.swiper-pagination-bullet {
  background-color: #d3d3d3 !important;
}
